{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div>
        <input type="button" value="新建订单" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    </div>
</div>

<!-- 新建订单（对话框） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">New Order</h4>
            </div>
            <div class="modal-body">
                <form id="formAdd">
                    <div class="clearfix">
                        {% for field in form %}
                        <div class="col-xs-6">
                            <div class="form-group" style="">
                                <label>{{ field.label }}</label>
                                {{ field }}
                                <span class="error-msg" style=""></span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btnSave" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- 删除订单（对话框） -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <h4>是否确定删除!</h4>
                <p style="margin: 10px 0;">删除后，所有关联的相关数据会被删除</p>
                <p style="text-align: right;">
                    <button type="button" class="btn btn-danger">确 定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                </p>
            </div>
    </div>
</div>

<div class="bs-example" data-example-id="panel-without-body-with-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            订单列表
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>订单号</th>
                <th>名称</th>
                <th>价格</th>
                <th>状态</th>
                <th>管理员</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in queryset %}
            <tr>
                <th>{{ obj.id }}</th>
                <td>{{ obj.oid }}</td>
                <td>{{ obj.title }}</td>
                <td>{{ obj.price }}</td>
                <td>{{ obj.get_status_display }}</td>
                <td>{{ obj.admin.username }}</td>
                <th>
                    <a class="btn btn-primary btn-xs" href="/admin/{{ obj.id }}/edit">编辑</a>
                    <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteModal">删除</a>
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination">
        {{page_string}}
    </ul>
</nav>

{% endblock %}

{% block js %}
<script type="text/javascript">
        $(function () {
            bindBtnAddEvent();
            bindBtnSaveEvent();
            bindBtnDeleteEvent();
        })

        function bindBtnAddEvent() {}

        function bindBtnSaveEvent() {
            $("#btnSave").click(function () {

                // 清楚错误信息
                $(".error-msg").empty();

                // 向后台发送请求
                $.ajax({
                    url: "/order/add",
                    type: "post",
                    data: $("#formAdd").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if(res.status){
                            alert("创建成功");

                            // 清空表单
                            $("#formAdd")[0].reset();

                            // 关闭弹窗
                            $("#myModal").modal('hide');；
                        }else{
                            // 把错误信息显示在对话框中，
                            $.each(res.error, function (name, errorList) {
                                $("#id_"+name).next().text(errorList[0]);
                            })
                        }
                    }
                })

                function bindBtnDeleteEvent() {
                    $(".btn-delete").click(function () {
                        // alert("点击了删除");
                        // 显示删除对话框
                        $("#deleteModal").modal('show');
                    }
                }

            });
        }




</script>
{% endblock %}